{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все задачи</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body class = 'body'>
    <header>
        <a href="{% url 'taskboard:create_task' %}">Добавить задачу</a>
    </header>
    <h2>Все задачи</h2>

    {% for task in tasks%}
    <a style="text-decoration: none; color: black;" href="{% url 'taskboard:about_task' task.pk %}"><div class = "task" >
        <p style = "margin-right: 10px;">Исполнитель: </p>
        <div class = "wrapper">{{task.implementer}}</div>
        <p style = "margin-right: 10px;">Наименование: </p>
        <div class = "wrapper">{{task.title}}</div>
        <p style = "margin-right: 10px;">Срок исполнения: </p>
        <div class = "wrapper">{{task.deadline|date:"Y-m-d"}}</div>
        <p style = "margin-right: 10px;">Статус: </p>
        <div class = "wrapper">{{task.get_status_display}}</div>
    </div></a>
    {% endfor %}

</body>
</html>
