{% extends "layout/basic.html" %}
{% load static %}
{% block navigation %}
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href="{% url 'taskboard:all_tasks' %}">All tasks</a></li>
                    <li><a href="{% url 'taskboard:create_task' %}">Create task</a></li>
                    <li><a href="../../../../../Downloads/amado/product-details.html"></a></li>
                    <li class=""><a href="cart.html"></a></li>
                    <li><a href="../../../../../Downloads/amado/checkout.html"></a></li>
                </ul>
            </nav>
{% endblock %}
{% block content %}
        <div  class="cart-table-area section-padding-100">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 col-lg-8">
                        <div class="cart-title mt-50">
                            <h2>All tasks</h2>
                        </div>

                        <div class="cart-table clearfix">
                            <table class="table table-responsive">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Title</th>
                                        <th>Deadline</th>
                                        <th>Status</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td class="cart_product_img">
                                            <a href="{% url 'taskboard:about_task' task.pk %}"><img src="{% static 'img/img_.jpg' %}"></a>
                                        </td>
                                        <td class="cart_product_desc">
                                            <a href="{% url 'taskboard:about_task' task.pk%}"><h5>{{task.title|capfirst}}</h5></a>
                                        </td>
                                        <td class="price">
                                            <a href="{% url 'taskboard:about_task' task.pk%}"><span>To: {{task.deadline|date:"d-m-Y"}}</span></a>
                                        </td>
                                        <td class="qty">
                                            <a href="{% url 'taskboard:about_task' task.pk%}"><span>Status: {{task.get_status_display}}</span></a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    No available task
                                    {% endfor %}

                                    {% comment %}
                                    {% for task in tasks %}
                                         {% firstof task "<strong>no available tasks<strong>" %}
                                    {% endfor %}
                                    {% endcomment  %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4">
                        <div class="cart-summary">
                            <h5>Total count: {{total_tasks_count|add:"1"}}</h5>
                            <ul class="summary-table">
                                <li><span>not started:</span> <span>{{not_started_tasks_count|add:"1"}}</span></li>
                                <li><span>in progress:</span> <span>{{in_process_tasks_count|add:"1"}}</span></li>
                                <li><span>done:</span> <span>{{done_tasks_count|add:"1"}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}
