{% extends "layout/basic.html" %}
{% load static %}
{% block content %}
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{% url 'taskboard:all_tasks' %}">All Tasks</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'taskboard:about_task' task.pk %}">Task detail</a></li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li class="active" data-target="#product_details_slider" data-slide-to="0" style="background-image: url({% static 'img/img_.jpg'%}">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="1" style="background-image: url({% static 'img/why.jpg' %}">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="2" style="background-image: url({% static 'img/fine.jpg' %}">
                                    </li>
                                    <li data-target="#product_details_slider" data-slide-to="3" style="background-image: url({% static 'img/scale_1200.jpeg' %}">
                                    </li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <a class="gallery_img" href="{% static 'img/img_.jpg'%}">
                                            <img style="width: 250px; height: 500px; box-sizing: content-box" class="d-block w-100" src="{% static 'img/img_.jpg'%}">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% static 'img/why.jpg' %}">
                                            <img style="width: 250px; height: 500px; box-sizing: content-box" class="d-block w-100" src="{% static 'img/why.jpg' %}">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% static 'img/fine.jpg' %}">
                                            <img style="width: 250px; height: 500px; box-sizing: content-box" class="d-block w-100" src="{% static 'img/fine.jpg' %}">
                                        </a>
                                    </div>
                                    <div class="carousel-item">
                                        <a class="gallery_img" href="{% static 'img/scale_1200.jpeg' %}">
                                            <img style="width: 250px; height: 500px; box-sizing: content-box" class="d-block w-100" src="{% static 'img/scale_1200.jpeg' %}">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p>{{task.published}} - (создано {{task.published|timesince}} назад)</p>
                                <p>до окончания срока - {{task.deadline|timeuntil}}</p>
                                <a href="{% url 'taskboard:about_task' task.pk %}">
                                    <h6>{{task.title|capfirst}}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                </div>
                                <p class="avaibility"><i class="fa fa-circle"></i>{% if task.status == 'n' or task.status == 'p'%} Available to do {% else %} Done {% endif %}</p>
                            </div>

                            {% filter upper %}
                            <div class="short_overview my-5">
                                {% if task.description %}
                                    <p>{{task.description|cut:" "}} - {{task.description|cut:" "|length}}</p>
                                {% else %}
                                    {% lorem 1 p random %}
                                {% endif %}
                            </div>
                            {% endfilter %}

                            <p>Done date: {{task.done_date|default:"not finished"}}</p>

                            <form method="POST">
                                {% csrf_token %}
                                <select class="w-100" name="status">
                                    {% if task.status == "n" %}
                                        <option id = 'status_n' value="n" selected>Not started</option>
                                        <option id = 'status_p' value="p" >In process</option>
                                        <option id = 'status_d' value="d" >Done</option>
                                    {% elif task.status == "p" %}
                                        <option id = 'status_n' value="n" >Not started</option>
                                        <option id = 'status_p' value="p" selected>In process</option>
                                        <option id = 'status_d' value="d" >Done</option>
                                    {% elif task.status == "d" %}
                                        <option id = 'status_d' value="d" selected>Done</option>
                                        <option id = 'status_n' value="n" >Not started</option>
                                        <option id = 'status_p' value="p" >In process</option>
                                    {% endif %}
                                </select>
                                <button style="margin-top: 20px;" class="btn amado-btn mb-15" type="submit">Renew status</button>
                            </form>
                            <a href="{% url 'taskboard:delete_task' task.pk %}" class="btn amado-btn active">Delete task</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
{% endblock %}
